#head-wrap
	.container 
		.row
			%header
				.span9 
					%h1 Gabble
				.span3
					%h3 Easy Git Time Tracking

.container 
	.row
		#messaging
			#first 
				Commit. 
			#second 
				Track Hours. 
			#third 
				Invoice.
	
	.row
		.span12
			#screenshot
				%img{:src => "http://placehold.it/800x450", :alt => ""}/ 

#mail-wrapper
	.container
		.row
			.span6
				Notify me when it's ready
			.span6#main-holder
				%input{:type => "text", :autofocus => "autofocus"}/
				%input{:type => "submit", :value => "I want it", :class => "btn btn-primary"}/  

