.container 
	%header 
		%h1 Gabble
	.row
		.span12
			%h2#tagline Git Commit Time Tracking 
	
	.row
		.span12
			#screenshot
				%img{:src => "http://placehold.it/800x450", :alt => ""}/ 
			
	.row
		.span12

		.span12
			%input{:type => "text"}/
			%input{:type => "submit", :value => "I want it"}/  

