development:
  host: localhost
  adapter: postgresql
  encoding: unicode
  database: gabble_pages_development
  pool: 5
  username: herpderp
  password: passw0rd

test:
  host: localhost
  adapter: postgresql
  encoding: unicode
  database: gabble_pages_test
  pool: 5
  username: herpderp
  password: passw0rd
